<header class="docs-masthead clearfix">
  <div class="container">
    <div class="column">
      <h1 class="docs-title">
        <a href="/" data-ignore="push">Ratchet</a>
      </h1>
      <nav class="docs-nav clearfix">
        <a class="docs-nav-trigger icon icon-bars pull-right js-docs-nav-trigger" href="#"></a>
        <div class="docs-nav-group">
          <a class="docs-nav-item" href="/ratchet-docs" data-ignore="push">Home</a>
          <a class="docs-nav-item" href="/ratchet-docs/getting-started" data-ignore="push">Getting started</a>
          <a class="docs-nav-item" href="/ratchet-docs/components" data-ignore="push">Components</a>
          <a class="docs-nav-item" href="/ratchet-docs/examples" data-ignore="push">Examples</a>
          <a class="docs-nav-item" href="/ratchet-docs/about" data-ignore="push">About</a>
          <a class="docs-nav-item" href="https://github.com/twbs/ratchet" data-ignore="push">GitHub project</a>
        </div>
      </nav>
    </div>
  </div>
</header>
